HELP.md
target/
!.mvn/wrapper/*.jar
!.mvn/wrapper/*.java
!**/src/main/**/target/
!**/src/test/**/target/
mvnm
mvnm.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/twitter-to-kafka-service/logs/
/twitter-to-kafka-service/twitter-to-kafka-service/logs/
*.log
*.DS_Store
